// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url("/items-background.jpg");
  background-size: cover;
  overflow: auto;
}
.items {
  padding: 10px;
}
.expenses-header {
  background-color: white;
  margin:0;
  padding: 10px;
  opacity: 0.9;
}
.table {
  background-color: white;
  opacity: 0.9;
}
.amounts {
  opacity: 0.9;
}
